@{
    ViewBag.Title = "FoodTruckLyon - Purger la base de données";
}

<p>@ViewBag.PanierProspectSupprimes</p>
<p>@ViewBag.OubliMotDePasseSupprimes</p>
<p>@ViewBag.JourExceptionnelSupprimes</p>
<p>@ViewBag.ImagesSupprimees</p>
