@{
    ViewBag.Title = "CreationCompteAdminTemporaire";
}

<div class="compte">
    <h2>Donner les droits administration</h2>
    <dl class="dl-horizontal"></dl>
    <h4>Indiquer le mail au minimum.</h4>
    @using (Html.BeginForm((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"], new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ccform connexion creationCompte" }))
    {
        <div class="ccfield-prepend">
            <input class="ccformfield" name="email" type="email" title="Email" placeholder="Email" maxlength='50' required value="@if(ViewBag.Email != null) {@ViewBag.Email}">
        </div>
        <div class="ccfield-prepend">
            <input class="ccformfield" name="nom" type="text" title="Nom" placeholder="Nom" maxlength='30' value="@if(ViewBag.Nom != null) {@ViewBag.Nom}">
        </div>
        <div class="ccfield-prepend">
            <input class="ccformfield" name="prenom" type="text" title="Prénom" placeholder="Prénom" maxlength='30' value="@if(ViewBag.Prenom != null) {@ViewBag.Prenom}">
        </div>
        <div class="ccfield-prepend">
            <input class="ccbtn" type="submit" value="Valider">
        </div>
    }
</div>